<%- include('partials/header') %>

<div class="flex-container-3 container-1">
    <div class="section-1">
        <h1>Best Web Hosting <span class="remove-on-big">company</span></h1>
        <span class="show-on-big">
            <h3>powerful website hosting made easy</h3>
        </span>
        <li><b>unlimited</b> Emails</li>
        <li><b>FREE</b> SSL Certificate included</li>
        <li><b>1-click</b> Wordpress install</li>
        <li><b>24/7</b> Support</li>
        <li><b>Free and Easy</b> site Migration</li>
        <li><b>free</b> Automatic Backup</li>
        <br>
        <p style="margin: 8px 0 16px 0;" class="make-brown">starting at <span class="bold">$1.00/Month*</span></p>
    </div>

    <div class="section-2">
        <img src="img/da6-1.png" alt="">
    </div>
</div>

<button id="myBtn" class="show-on-big" title="Go to top">
    <i class="fa fa-wechat (alias)"></i>
    <p>contact us</p>
</button>

<%- include('partials/footer') %>